dev/pug/contact/index.pug
extends ../_layouts/default

block vars
  -title        = 'title contact'
  -description  = 'description contact'
  -keywords     = 'keywords contact'
  -pageID       = 'contact'
  -path         = '..'

block container

  // ./ Keyvisual
  
  .section-keyvisual
    .wrapper-large
      .keyvisual-wrapper
        h1 お問合16せ

  // ./ BreadcrumbList
  .breadcrumb-wrapper
    .wrapper
      ul.breadcrumb
        li.item index 23

contact/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="description contact">
    <meta name="keywords" content="keywords contact">
    <title>title contact</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="container">
      <header class="header-fixed">
        <p>content header</p>
      </header>
      <main>
        <!-- ./ Keyvisual-->
        <div class="section-keyvisual">
          <div class="wrapper-large">
            <div class="keyvisual-wrapper">
              <h1>お問合16せ</h1>
            </div>
          </div>
        </div>
        <!-- ./ BreadcrumbList-->
        <div class="breadcrumb-wrapper">
          <div class="wrapper">
            <ul class="breadcrumb">
              <li class="item">index 23</li>
            </ul>
          </div>
        </div>
      </main>
      <footer>
        <p class="text-center">content footer</p>
      </footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
